name: X-Ray API ChuoiChien
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install curl_cffi
        run: pip install curl_cffi

      - name: Print Raw JSON
        run: |
          cat << 'EOF' > test.py
          from curl_cffi import requests
          import json

          API_URL = "https://api.chuoichientv.com/v1/matches?page=1&limit=1&sport=&type=blv"
          HEADERS = {
              "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJndWVzdElkIjoiZTM0Zjk3ZmQtNWMxMC00MGEzLWE1OGYtZDE3MmQwMmIxNDZjIiwidHlwZSI6Imd1ZXN0IiwiaXAiOiIxNjIuMTU5Ljk4LjIyMCIsInVzZXJBZ2VudCI6Ik1vemlsbGEvNS4wIChXaW5kb3dzIE5UIDEwLjA7IFdpbjY0OyB4NjQpIEFwcGxlV2ViS2l0LzUzNy4zNiAoS0hUTUwsIGxpa2UgR2Vja28pIENocm9tZS8xMzEuMC4wLjAgU2FmYXJpLzUzNy4zNiIsIm5hbWUiOiJCw7puIMSQ4buPIDQ1MyIsInRpbWVzdGFtcCI6MTc3MjI5MTc4NzEwNCwiaWF0IjoxNzcyMjkxNzg3LCJleHAiOjE4MDM4Mjc3ODd9.iHhwdQaDRcrjyRfCVGCbSZb6dFj-EuzJblTD1wmttV0",
              "Origin": "https://live16.chuoichientv.com",
              "Referer": "https://live16.chuoichientv.com/"
          }

          response = requests.get(API_URL, headers=HEADERS, impersonate="chrome110", timeout=30)
          data = response.json()
          matches = data.get('matches', [])

          if matches:
              print("================ CẤU TRÚC GỐC 1 TRẬN ĐẤU ================")
              print(json.dumps(matches[0], indent=2, ensure_ascii=False))
              print("=========================================================")
          else:
              print("Không lấy được dữ liệu.")
          EOF
          python3 test.py
